<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config />

    <context:component-scan base-package="info.exac" />

    <!--<bean id="xEngine" class="info.exac.game.GameLoop">-->
        <!--<property name="inputManager" ref="inputManager" />-->
    <!--</bean>-->

    <!--<bean id="inputManager" class="info.exac.xengine.input.InputManager" />-->

    <!--<bean id="textureManager" class="info.exac.xengine.gfx.common.RgbaGfxManager" />-->

</beans>